.navigation {
  ul {
    display: flex;
  }
  li {
    list-style: none;
    margin-right: 20px;
  }

  ul ul {
    flex-direction: column;
    li {
      margin-right: 0px;
    }
    a {
      display: block;
      cursor: pointer;
      padding: 10px 20px;
    }
    a:hover {
      background: #ececec;
    }
  }
}
